
/* Spearmint tints > http://inspire.server101.com/bttdb/html/tables/ */

/* table */
table {
    margin: 0 0 1em;
    background: #FFF;
    border-collapse: collapse;
    border-top: 1px solid #363;
    border-bottom: 2px solid #363;
}

/* caption = table title/heading */
caption {
    text-align: left;
    font: bold small-caps 120%/1.3 "trebuchet ms",Helvetica,Arial,Sans-Serif;
    color: #363;
    margin: .3em 0;
}

/* reduced font size to save space */
tr { 
    font-size: 90%;
    border: #CCCCCC 1px dotted;

}
/* prevent nested tables reducing font size further */
tr tr { font-size: 100%; }

/* tinted rows */
/* in CSS3 selectors: tbody tr:even or tbody tr:nth-child(2n) */
tr.odd {
    background: #DFD;
}

/* table cells */
td {
    font-weight: normal;
    padding: .3em .7em;
    text-align: left;
    vertical-align: top;
    border-top: #CCCCCC 1px dotted;
    border-left: #CCCCCC 1px dotted;
}

/* borders to separate body sections */
tbody tr:first-child th,
tbody tr:first-child td,
tfoot tr:first-child th,
tfoot tr:first-child td {
    border-top: 1px solid #363;
}

/* tints for column headings */
thead {
    white-space: nowrap;
}

/* tints for totals */
tfoot {
    background: #ADA;
}

/* bold text for totals */
tfoot th,
tfoot td {
    font-weight: bold;
}

.space{
    height: 15px;
    width: 100%
}

.loginForm{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.mainLogo {
    text-align: left;
    font: bold small-caps 200%/1.3 "trebuchet ms",Helvetica,Arial,Sans-Serif;
    color: #363;
    margin: .3em 0;
    /*    margin-left: 1px;*/
    /*    width: 100%;*/
}

.errorMsg {
    color: #CC6600;
    font-size: 11px;
}

.errorMsg ul.error_list li{
    position: relative;
    left: -23px;
}

.logout a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 5px;
    color: black;
    text-decoration:underline;
}

.logout a:hover{
    color: #363;
}
.mainFrame {
    width: 100%;
    height: auto;
}

.normalText{
    font-size: 12px;
    font-family: Helvetica,Arial,Sans-Serif;
}
.boldText {
    font-weight: bold;
}
.menuText {
    font-size: 14px;
    font-family: Helvetica,Arial,Sans-Serif;
}
.langueDropDownList {
    border: 1px solid #4E4868;
}

.mediumText {
    font-size: 14px;
    font-family: Helvetica,Arial,Sans-Serif;
}
.mediumText {
    font-size: 14px;
    font-family: Helvetica,Arial,Sans-Serif;
}

.loginBar {
    font-size: 12px;
    font-family: Helvetica,Arial,Sans-Serif;
    float: right;
}
.top_menu {
    margin-bottom:10px;
    margin-right:0;
    margin-left:10px;
    margin-top:10px;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}
.menuBackground {
    background: #FAD163;
}

.mainRowWidth{
    /*    width: 100%;*/
}

.tableIndexColumn {
    width: 4%;
}
.button{
    font-weight: bold;
    background-color: #FA9E00;
    border-color: #FF850A;
}

.removeLeftDotLine{
    border-left: #CCCCCC 1px ;
}
.addDotLinetoRight {
    border-right: #CCCCCC 1px dotted;
}
#editLangTextArea{
    display: none;
}
/*#targetLangText{
    display: none;
}*/
.addDotLineToBottom {
    border-bottom: #CCCCCC 1px dotted;
}
.outerBorder {
    width: auto;
    height: auto;
    border: 2px #336633 solid;
    /* For mozillar firfox  */
    -moz-border-radius: 20px;
    /* For Crome */
    -webkit-border-radius:20px;
}

.loginBorderOuterFrame {
    margin-left: 450px;
    margin-top: 50px;
    position: absolute;
}

.loginFormBackGround {
}

.homePageBorder{
    width: 630px;
    position: relative;
        margin-left:30px;
    /*    margin-top: 50px;*/
}

.homePage {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.addLabelPage {
    margin-top: 10px;
}

.pageHeader {
    font: bold small-caps 120%/1.3 "trebuchet ms",Helvetica,Arial,Sans-Serif;
    color: #363;
    padding-bottom: 5px;
}

label.error {
    float: left;
    color: #CC0000;
    font-size: 11px;
    padding-left: .5em;
}

input.error {
    border: 1px solid #CC0000;
    background-color: #FAAFBE;
}

#langId {
    display: none;
}

.formBorder {
    width: 100%;
    float: left;
}
.formCellOne {
    width :30%;
    float: left;
}
.formCellTwo {
    width :70%;
    float: left;
}
.source_label{
    width: 25%;
}
.source_note{
    width: 25%;
}
.target_label{
    width: 25%;
}
.target_note{
    width: 25%;
}

.target_label_input{
    width: 300px;
}

.target_note_input{
    width: 300px;
    border: 2px inset;
    height: 35px;
}

ul.sf-menu li.current{
    background: #FF850A;
}

span.mandatoryStar {
    position: relative;
    color: #fb0000;
    top: 3px;
    left: 3px;
}

div#requiredField {
    position: relative;
    bottom: 10px;
    font-size: 10px;
    font-family: Helvetica,Arial,Sans-Serif;
    width: 300px;
}

.pageHeader span{
    font-size: 10px;
    font-family: Helvetica,Arial,Sans-Serif;
    font: bold 70%/1.3 "trebuchet ms",Helvetica,Arial,Sans-Serif;
}
.viewTanslateTextmessage{
	position: relative;
    text-align: right;
    vertical-align: middle;
}
#xmlHelpMessage{
    font-size: 10px;
}
#xmlHelpMessage span.mandatoryStar {
    position: relative;
    left: 0px;
}

#add_language_group_form table td.labelColumn{
    width: 175px;
}

#edit_language_group_form td.labelColumn{
    width: 175px;
}

#add_user_form table td.labelColumn{
    width: 175px;
}

#edit_user_form table td.labelColumn{
    width: 175px;
}

.messageBar{
    position: relative;
    left: 30px;
    padding-bottom: 10px;
    text-align: center;
    width: 630px;
    font-size: 17px;
    font-family: Helvetica,Arial,Sans-Serif;
    background-color: #FAD163;
    margin-bottom: 10px;
    border: #FA9E00 1px solid;
}
.messageBar span {
    position: relative;
    top: 5px;
}
.messageBar.manageLabels{
    width: 600px;
}

.listMessageBar{
    position: relative;
    top: 7px;
    padding-bottom: 10px;
    text-align: center;
    width: 630px;
    font-size: 17px;
    font-family: Helvetica,Arial,Sans-Serif;
    background-color: #FAD163;
    margin-bottom: 10px;
    border: #FA9E00 1px solid;
    vertical-align: middle;
}

.listMessageBar span {
    position: relative;
    top: 5px;
}

.listMessageBar span.error{
    color: #CC6600;
}

.listMessageBar span.success{
    color: #390;
}

.messageBar.loginpage{
    position: relative;
    left: 440px;
    top: 50px;
    padding-bottom: 10px;
    text-align: center;
    width: 400px;
    font-size: 17px;
    font-family: Helvetica,Arial,Sans-Serif;
}

.messageBar span.error{
    color: #CC6600;
}

.messageBar span.success{
    color: #390;
}
.emptyRows{
    background: #FFCD75;
}
